.mail {
    padding: 85px 0;

    &__title {
        font-size: 18px;
        font-weight: 600;
        line-height: 21.94px;
        text-align: center;
        color: $black-color;
        margin-bottom: 20px;
    }

    &__desc {
        font-weight: 400;
        line-height: 25.36px;
        text-align: center;
        margin-bottom: 30px;
    }

    &__form {
        display: flex;
        width: 489px;
        margin: 0 auto;
        padding-left: 33px;
        border-radius: 30px;
        border: 1px solid rgba(242, 242, 242, 1);
        box-shadow: 0 0 10px 0px rgba(111, 111, 111, 0.25);
        margin-bottom: 35px;
    }

    &__input {
        font-size: 13px;
        font-weight: 400;
        line-height: 20.6px;
        text-align: left;
    }

    &__btn {
        @extend %btn-template;
        margin: 0;
        border-radius: 0;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        margin-left: auto;
    }

    &__comment {
        font-size: 13px;
        font-weight: 400;
        line-height: 20.6px;
        text-align: center;
    }
}